<div class="header">
  <a class="title" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/FMTM.png" width="300px"></a>
  <a class="extra {% if page.eventos %}current{% endif %}" href="{{site.baseurl}}/eventos">Eventos</a>
  <a class="extra {% if page.resultados %}current{% endif %}" href="{{site.baseurl}}/resultados">Resultados</a>
  <a class="extra {% if page.pontos %}current{% endif %}" href="{{site.baseurl}}/pontos">Pontuações</a>
  <a class="extra {% if page.notas %}current{% endif %}" href="{{site.baseurl}}/notas-oficiais">Notas Oficiais</a>
  <a class="extra {% if page.contato %}current{% endif %}" href="{{site.baseurl}}/contato">Contato</a>
</div>