<div class="header">
  <a class="title" href="{{site.baseurl}}/"><img src="{{site.baseurl}}/imagens/FMTM.png"></a>
  <a class="extra" href="{{site.baseurl}}/">Página Inicial</a>
  <a class="extra {% if page.eventos %}current{% endif %}" href="{{site.baseurl}}/eventos">Eventos</a>
  <a class="extra {% if page.resultados %}current{% endif %}" href="{{site.baseurl}}/resultados">Resultados</a>
  <a class="extra {% if page.pontuacao %}current{% endif %}" href="{{site.baseurl}}/pontuacao">Pontuação</a>
  <a class="extra {% if page.institucional %}current{% endif %}" href="{{site.baseurl}}/institucional">Institucional</a>
  <a class="extra" href="{{site.baseurl}}/arquivo/notasoficiaisfmtm.pdf">Notas Oficiais</a>
  <a class="extra {% if page.fotos %}current{% endif %}" href="{{site.baseurl}}/fotos">Fotos</a>
  <a class="extra {% if page.contato %}current{% endif %}" href="{{site.baseurl}}/contato">Contato</a>
</div>
