<div class="event-item">
  <h3>4. Inscrições e prazos</h3>
  As inscrições deverão ser efetuadas através do email: fmtm@fmtm.net ou através dos telefones (31) 9128-8020 / (31) 8815-2588 / (31) 3356-5588 até a data {{page.deadline | date: "%d/%m/%Y"}}<br />

  As inscrições para a {{page.title-copamg}} não dão direito à participação no {{page.title-cmtm}}.<br />
  Iniciantes: R$20,00. <br />
  Copa MG (Ranking e Rating): Filiados: R$15,00 / Vinculados: R$ 20,00<br />
  Absoluto: R$20,00. <br />
  CMTM: Filiados: R$15,00 / Vinculados: R$ 20,00<br />
  O pagamento poderá ser realizado no dia do evento, caso a inscrição seja confirmada até a data limite {{ page.deadline: | date: "%d/%m/%Y" }}.
</div>