<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
        <link rel="stylesheet" href="{{site.baseurl}}/css/fonts.css">

    </head>
    <body>

        <div class="container">
          <div class="site">
            <div class="header">
              <a class="title" href="{{site.baseurl}}"><img src="{{site.baseurl}}/images/FMTM.png" width="300px"></a>
              <a class="extra" href="{{site.baseurl}}/eventos">Eventos</a>
              <a class="extra" href="{{site.baseurl}}/resultados">Resultados</a>
              <a class="extra" href="{{site.baseurl}}/pontos">Pontuações</a>
              <a class="extra" href="{{site.baseurl}}/notas-oficiais">Notas Oficiais</a>
              <a class="extra current" href="{{site.baseurl}}/contato">Contato</a>
            </div>
     
            <div class="content">
              {{ content }}
            </div>

            <div class="footer">
              <div class="contact">
                <p>By <a href="http://codelogic.me" target="_blank" title="codelogic.me">CodeLogic.Me</a>
              </div>
              <!-- <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div> -->
            </div>
          </div>
          
        </div> <!-- /container -->

    </body>
</html>
