---
layout: default
---
<div class="event title">
  <h2>Temporada {{ page.ano-temporada }}</h2>

  <h2>{{ page.title-copamg }}  

    {% if page.title-cmtm != nil %}
      - {{ page.title-cmtm }}
    {% endif %}

    / {{ page.event-city }}</h2>
</div>

<br />

<div class="event-item">
  <h3>1. Competição</h3>
  {{ page.date-copamg: | localize: "%d/%m (%A)" }} - Iniciantes, {{ page.title-copamg }} e Absoluto.

  {% if page.date-cmtm != nil %}
    <br />
    {{ page.date-cmtm: | localize: "%d/%m (%A)" }} - {{ page.title-cmtm }}
  {% endif %}    
</div>

<br />

<div class="event-item">
  <h3>2. Local</h3>
  {{page.event-place}}<br />
  {{page.event-address}} - {{ page.event-city }}<br />
  
  {% if page.event-phone != nil %}
    {{page.event-phone}}
  {% endif %}    
</div>

<br />

<div class="event-item">
  <h3>3. Horários</h3>
  {{page.event-checkin-time}} : Confirmação/pagamento de inscrições.<br />
  {{page.event-warmup-time}} : Aquecimento.<br />
  {{page.event-start-time}} : Início dos jogos.  
</div>

<br />

<div class="event-item">
  <h3>3. Inscrições e prazos</h3>
  As inscrições deverão ser efetuadas através do email: fmtm@fmtm.net ou através dos telefones (31) 9128-8020 / (31) 8815-2588 / (31) 3356-5588 até a data {{page.deadline | localize: ":long"}}<br />

  As inscrições para a {{page.title-copamg}} não dão direito à participação no {{page.title-cmtm}}.<br />
  Iniciantes: {{page.iniciantes-fee | money_with_currency }}
</div>